<!DOCTYPE html>
<html>

	<head>
		<title>
			Dashbord.page
		</title>

		<meta charset='utf-8' />
		<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
		<link rel="manifest" href="/fav/site.webmanifest">
		<link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<link href='css/normalize.css' rel='stylesheet' />

		<link href='css/dashbord.css' rel='stylesheet' />

		<meta name="viewport" 
			content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	</head>

	<body>	
		
		<div class="page page_dashboard">
			<aside class="page_aside aside vertical vertical--big">
				<div class="text aside_logo">
					Sidebar
				</div>
				<nav class="vertical vertical--small">
					<a href="#" class="nav-button nav-button--active click">
						<span class="icon nav-button_icon" style="background-image: url(`/svg/nav/home.svg`);"></span>
						<span class="text text--light text--line">Home</span>
					</a>
						<a href="#" class="nav-button ">
						<span class="icon nav-button_icon" style="background-image: url(`/svg/nav/orders.svg`);"></span>
						<span class="text text--light">Orders</span>
					</a>
						<a href="#" class="nav-button">
						<span class="icon nav-button_icon" style="background-image: url(`/svg/nav/products.svg`);"></span>
						<span class="text text--light">Product</span>
					</a>
				</nav>
			</aside>
			<header class="header">
				<div class="layout heder_content text--small">	
					<div class="header_search relative">
						<input type="text" placeholder="Search" class="text field field-header">
						<span class="icon header_icon-search" style="background-image: url(`/svg/header/search.svg`);"></span>
						<span class="icon icon--header-settings icon--button icon--color-blue click" style="background-image: url(`/svg/header/settings.svg`);"></span>	
					</div>	
				</div>
				<div class="header_icon">
					<span class="icon icon--header-list icon--button icon--color-yellov click:active" style="background-image: url('/svg/header/joing.svg');"></span>	
					<span class="icon icon--header-list icon--button icon--color-bluel click:active" style="background-image: url('/svg/header/properties.svg');"></span>	
					<span class="icon icon--header-list icon--button icon--color-yellov click:active" style="background-image: url('/svg/header/bell.svg');"></span>	
				</div>
			</header>

			<main class="main">
				<div class="layout">
					<section class="box analytic_block">
						<div class="analytic analytic--duble analytic--purple">
							<span class="icon analytic_button icon--button icon--color-purple click"
							    style="background-image: url('/svg/analytic/earning.svg');"></span>
								<div class="relative vertical vertical--small">
									<div class="analytic_title text text--light">$500.00</div>
									<div class="analytic_info text text--gray">Total earning</div>
									<span class="icon analytic_arrow"
							    		style="background-image: url('/svg/analytic/arrow.svg');"></span>
								</div>
						</div>

						<div class="analytic analytic--duble analytic--blue">
							<span class="icon analytic_button icon--button icon--color-blue click"
							    style="background-image: url('/svg/analytic/order.svg');"></span>
								<div class="relative vertical vertical--small">
									<div class="analytic_title text text--light">$961</div>
									<div class="analytic_info text text--gray">Total Order</div>
									<span class="icon analytic_arrow"
							    		style="background-image: url('/svg/analytic/arrow.svg');"></span>
								</div>
						</div>

						<div class="analytic analytic--duble">
							<div class="analytic">
								<span class="icon analytic_button icon--button icon--color-blue click"
									style="background-image: url('/svg/analytic/total.svg');"></span>
								<div class="analytic_title text text--light">$203k</div>
								<div class="analytic_info text text--gray">Total Income</div>
							</div>
							<div class="analytic">
								<span class="icon analytic_button icon--button icon--color-white click"
									style="background-image: url('/svg/analytic/comer.svg');"></span>
								<div class="analytic_title text text--dark">$203k</div>
								<div class="analytic_info text text--gray">Total Income</div>
							</div>
						</div>
					</section>



					<section class="main--double">
						 <div class="main__elemant">
							<div class="text text--bold text--heading">Purchase list</div>
							
							<nav class="vertical vertical--small">
								<a href="" class="nav">
									<label class="text" form="">ID437661</label>
									<label class="text" form="">May 11, 2023, 14:21</label>
								</a>
								<a href="" class="nav">
									<label class="text" for="">AirOn ProCam</label>
									<label class="text" for="">7/8 USB Type-C</label>
								</a>
								<a href="" class="nav">
									<label class="text" for="">132.32 EUR</label>
									<label class="text" for="">NOT paid</label>
								</a>

								<a href="" class="nav">
									<label class="text" for="">Customer</label>
									<label class="text" for="">robin@com.de</label>
								</a>
								<div class="hr"></div>
								<a href="" class="nav">
									<label class="text" for="">ID437661</label>
									<label class="text" for="">May 11, 2023, 14:21</label>
								</a>

								<a href="" class="nav">
									<label class="text" form="">PHILIPS Essential</label>
									<label class="text" form="">HD9200/90</label>
								</a>
								<a href="" class="nav">
									<label class="text" form="">543 USD </label>
									<label class="text" form="">Pay by Stripe </label> #00801B;
								</a>

								<a href="" class="nav">
									<label class="text" form="">Customer</label>
									<label class="text" form="">dima@com.ua</label>
								</a>

							</nav>
						</div>
						
						<div class="traimer">
							<div class="text text--bold text--heading">Payment</div>	
							<nav class="vertical vertical--small">


								<div class="form_checkbox-active">
									<input type="checkbox" name="#" id="">
									<label for="text text--small">Credit card</label>
								</div>
								<div class="form_checkbox">
									<input type="checkbox" name="#" id="">
									<label for="text text--small">Debit card</label>
								</div>
								<div class="form_checkbox">
									<input type="checkbox" name="#" id="">
									<label for="text text--small">PayPal</label>
								</div>

									<div class="field vertical vertical--extra-small">
										<label class="text text--small" for="">Name on card</label>
										<input  class="text field field-main">
									</div>
									<div class="field vertical vertical--extra-small">
										<label class="text text--small" for="">Credit card number</label>
										<input  class="text field field-main">
									</div>
									<div class="field vertical vertical--extra-small">
										<label class="text text--small" for="">Country</label>
										<input  class="text field field-main">
									</div>
									<div class="field vertical vertical--extra-small">
										<label class="text text--small" for="">CVV</label>
										<input  class="text field field-main">
									</div>

									<div class="hr"></div>



								<div class="relative click">
									<label class="tex text--small" for="">Country</label>
									<div class="field field--select">
										<span class="text text--light">Choose...</span>
									</div>
										<select class="field field_select">
											<option value="dog">Dog</option>
											<option value="cat">Cat</option>
											<option value="fish">Fish</option>
											<option value="parret">Parret</option>
										</select>
									</div>

									<div class="relative click">
										<label class="text text--small" for="">State</label>
										<div class="field field--select">
											<span class="text text--light">Choose...</span>
										</div>
											<select class="field field_select">
												<option value="dog">Dog</option>
												<option value="cat">Cat</option>
												<option value="fish">Fish</option>
												<option value="parret">Parret</option>
											</select>
									</div>
								<a href="#" class="nav-button nav-button--active click">
									<span class="text text--light text--line">Continue to checkout</span>
								</a>

							</nav>
						</div>
						</div>

					</section>


					

				</div>
			</main>
		</div>
		
	</body>
</html>
