<main class="p-5">
    <div class="card p-5">
        <p id="test">
            hello world!
        </p>
        <p id="test">
            hello world!
        </p>
        <p hidden id="test">
            hello world!
        </p>
        <span hidden class="test">Test</span>
    </div>
    <pre>
		ddfr		
    </pre>

	<div>Block</div>
	<div>Block</div>
	<div>Block</div>

    <div style="padding: 50px 0 50px 100p; background:gray;">
	
		<span>Test</span>
		<span>Test</span>

		<span class="block">inline-block</span>

	</div>
</main>