:root {
  background: purple;
}
html {
  max-width: 720px;

  background: blue;
}

body {
  background: #fff;
}

* {
 color: red;
}

h1 {
  color: green;
}

.box {
  background: #d7c9c9;
}

#user, .user {
  color: #1212d6;
}

h1,
 h2#user,
button.button {
  color: green;
}

h1.button {
  background: red;
  color: black;
}

#box > p {
  color:aqua
}

footer > .user {
  color: cadetblue;
}

footer > .h1 {
  color: cadetblue;
}

footer em.child,
footer div.child {
  color: cadetblue;
}

.p-top {
  background: #74cb17;
}

h1 ~ p,
h1 ~ div > p {
  background: #08080b;
}


.card dark {
  background: #726363;
}

.item {
  color: green;
}

.item:first-of-type {
  color: blue;
}

.item:only-of-type {
  color: red;
}

.item:nth-child(4) {
  color: #74cb17;
}

.item:nth-last-child(2) {
  color: #ae2b9b;
}

p:not(.item) {
  color: #0e9287;
}

.item:not(p) {
  color: #881010;
}

p:empty {
  height: 10px;
  background: #ae2b9b;
}

.input-dark {
  background: #140f12;
}

.input-dark[required] {
  background: #140f12;
}

.input-dark[type="number"] {
  background: #e2142c;
}

.small-img[alt~="small"] {
  height: 500px;
}

a[rel~="external"] {
  color: #881010;
}

button[class|="btn"] {
  background: rgb(185, 177, 177);
}

a[class*="btn"] {
  background: rgb(90, 16, 16);
}

a[class$="big"] {
  background: rgb(5, 8, 120);
}

btn::first-letter {
  color: #c41313;
}

.big text::first-line {
  color: red;
}

.input-dark::placeholder {
  color: green;
}

.big-text::before,
.big-text::after {
  content: "$$$";
  color: #74cb17;
}

#test:target {
  color: red;
}

.link:link {
  color: red;
}

.link:hover {
  color: green;
}

.card:hover {
  background: green;
}

.link:active {
  color: rgb(233, 15, 196);
}

.card:active {
  background-color: rgb(233, 15, 196);
}

input {
  background-color: gray;
}

input:focus {
  background-color: red;
}

.card:focus-within {
  background: rgb(220, 230, 234);
}

.card:lang(en) > span::after {
  content: "(en)";
}

button {
  background-color: greenyellow;
}

button:enabled {
  background-color: #74cb17;
}

button:disabled {
  background-color: #0e9287;
}

.inp:read-write {
  background-color: blue;
}

.inp:read-only {
  background-color: red;
}

input[type="checkbox"] :checked ~span {
  background: #1212d6;
}

.valid:valid {
  background:yellow;
}

.valid:invalid {
  background:rgb(65, 65, 23);
}

.valid:optional {
  background:rgb(17, 226, 100);
}

.number:focus {
background:gray ;
}

.number:out-of-range {
  background: red;
}

.number:in-range {
  background: rgb(11, 171, 45);
}

.number:invalid {
  background: rgb(183, 230, 12);
}

input:placeholder-shown ~ span {
  background:pink ;
}