{{#with data}}

<div class="card text-bg-dark">
		<div class="card_photo" style="background-image: url({{photo}});"></div>
		<h2 class="card_name">{{name}}</h2>
		<p class="card_description">{{description}}</p>
		<a class="button card_button" href="#">Read All</a>
	</div>

{{/with}}